/*----------block-list----------
header
service
company
recruit
footer
*/


/*----------common-----------*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
* {
	box-sizing: border-box;
}
body {
	font-family: "MS Serif";
}
/*------header------*/
header {
  width: 100%;
  /*height: 100%;*/
  background-image: url(../img/b018.jpg);
  padding-bottom: 45%;
  /*background-size: cover;*/

/***News用***/
  position: relative;
}
.back-image {
	width: 90%;	
    /*height: 717px;*/
	position: absolute;
	left: 50%;
	z-index: 1;
	margin-left:-45%;
}
.back-image768 {
	display: none;
}
.header {
	background-color:#fff;
	line-height: 65px;
 	height:65px;
	width: 65%;
 	position: fixed;
	top:0px;
 	left: 50%;
    z-index:10;
    box-shadow: 10px 5px 10px 5px #c0c0c0; 
 	margin-left: -32.5%;
/*background-color: red;*/

}
.header-logo h1 {
	background-color: #fa8072;
	color: #fff;
	float:left;
	margin:10px 30px;
	padding: 0 20px;
 	border-radius: 90px;
 	height:45px;
 	line-height: 40px;
 }
h1 a {
	text-decoration: none;
	color: #fff;
}
.header-menu {
	float: left;
	width: 60%;
	margin-left: 10%;
}	
.header-menu li {
	list-style: none;
}
.header-menu-item {
	float:left;
	width: 15%;
	padding:10px 0;
	cursor: pointer;
}
.header-menu-item a {
	text-decoration: none;
	color: #000;
}
.header-logo768 {
	display: none;
}
.menu-icon {
	display: none;
}
.contact {
	float: right;
	background-color: #696969;
	color: #fff;
 	height: 61px;
 	padding-top: 6px;
 	padding-left: 8%;
 	padding-right: 8%;
 	margin: 2px 1% 1px 3%; 
 	border-radius: 3px;
 	text-align: center;
 	transition: all 0.5s;
	cursor: pointer;
}
.contact:hover {
	background-color: #fa8072;
}
.contact:active {
	background-color: #ff7f50;
}
.contact a {
	text-decoration: none;
	color: #fff;
}
.head-image {
    position: relative;
    z-index: 3;
}
.center-logo {
	font-size:40px;
	letter-spacing: 5px;
	width: 50%;
	height: 100px;
	position: absolute;
	top: 250px;
	left:50%;
	margin-left: -15%;
    z-index: 4;
	/*font-weight: bold;*/
}
h2 {
	font-size: 40px;
	padding:10px;
	text-align: center;
}
   /***NEWS****/
#news {
	position: relative;
	top:385px;
}
.news {
	height: 150px;
	position: absolute;
	top:450px;
	background-color: rgba(64,224,208,0.3);
    z-index: 5;
	position: relative;
}
.news h2 {
	padding-bottom: 5px;
}
.news-topics {
	position: absolute;
	left:50%;
	margin-left: -25%;
	float:left;
    list-style: none;
}
.news-topics li {
  list-style: none;
}


/*------service------*/
#service {
	/*background-color: red;*/
}
.service-wrapper {
	background-image: url(../img/b018.jpg);
	/*margin: 0 auto;*/
	/*padding-top: 50px;*/
	padding-bottom: 50px;
}
.service-contentes {
    padding: 0 2.5% ;
	text-align: center;
 	margin-bottom:30px ;
}
.service-contentes h2 {
	padding-bottom: 40px;
}
.service {
	width:33%;
	float: left;
	text-align: center;
 	margin-bottom: 15px;
 }
.service-image {
    box-shadow: 16px 10px 10px 5px #a9a9a9; 
    margin-bottom:10px;
}
.service-step {
	font-size:20px;
	font-weight: bold;
	padding: 15px 15px 5px 0px;
}
.service-comment {
	display: inline-block;
	text-align: left;
	width: 40%;
}
.service-more {
	background-color:  rgba(64,224,208,0.3);
	padding: 10px 20px 10px 13px;
	text-align: center;
	width: 25%;
	margin: 0 auto; 
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 3px;
	border-radius: 10px;
}
.service-more a {
	text-decoration: none;
	color: #000;
}

/*------campany------*/
.campany {
	background-color:#fdf5e6;
	/*height: 450px;*/
	position: relative;
	padding: 100px 0 400px;
}
.campany h2 {
	font-size: 35px;
	padding-bottom: 30px;
}
table {
	float:left;
	position: absolute;
	/*top:100px;*/
	left: 12%;
	width: 40%;
	border-collapse: collapse;
}
tr,td,th {
	padding:0 10px;
}
td,th {
	border:1px solid #c0c0c0;
    padding:5px;
}
th {
    text-align:left;
    width: 15%;
}
.company-business {
	height: 160px;
 	/*vertical-align: top;*/
}
.company-business ul {
 	margin-left:20px;
}
iframe {
	float:right;
	position: absolute;
	left:55%;
}
/*------recruit------*/
.recruit {
	/*height: 300px;*/
	padding: 150px 0 150px ; 
 /*　 margin-bottom:50px ;*/
 	background-image: url(../img/pexels-photo-126590_1.jpg);
}
/*------footer------*/
footer {
	background-color: #f0fff0;
	padding: 20px 10%;
}
.footer-logo {
	float:left
}
.footer-logo h3 {
	margin-bottom: 15px;
}	
.footer-menu {
	float:right;
}
.footer-menu li {
  list-style: none;
}
.footer-icon1 i {
	font-size: 30px;
	background-color:#4267b2;
	color: #fff;
	float:left;
	width: 35px;
    line-height: 35px;
    text-align: center;
	margin-right: 5px;
	border-radius: 5px;	
}

.footer-icon2 i {
	font-size: 30px;
	background-color:#1da1f2;
	color: #fff;
    width: 35px;
    line-height: 35px;
    text-align: center;
	margin-right: 5px;
	border-radius: 5px;
}
